<style>
	body {
		font-family: Arial;
	}	

	#main-box {
		border: 3px solid #1167b1;
		background-color: #bbeaff;
		margin: 10px;
		padding: 10px 20px;
		width: 350px;
		height: 200px;
		border-radius: 10%;
		box-shadow: 3px 3px rgba(0,0,0,0.3)
	}

	#main-box h2 {
		font-size: 1.6rem;
	}

	#main-box p {
		font-size: 1.1rem;
	}

	.button {
		margin: 20px 0px 0px 150px;
		width: 100px;
		height: 20px;
		border-radius: 10px;
		background-color: #1167b1;
		color: white;
		padding: 15px 10px;
		text-align: center;
		font-size: 1.2rem;
	}

	.button:hover {
		background-color: #72d3fe;
	}

	.button:hover {
		color: black;
	}

	a, a:visited {
		text-decoration: none;
		color: white;
	}

</style>

<div id="main-box">
	<h2>Contact me</h2>
	<p>Name: Pongsapak Pulthasthan <br>
	Tel: 096-748-7757 <br>
	Email: 6231340921@student.chula.ac.th
	</p>
</div>

<a href="/welcome"><div class="button">Go back</div></a>




