<style>
	#main-box {
		border: 3px solid #F8A393;
		background-color: #FFC3B1;
		margin: 10px;
		padding: 10px 20px;
		width: 300px;
		height: 300px;
		border-radius: 10%;
		box-shadow: 3px 3px rgba(0,0,0,0.3)
	}

	#main-box h2 {
		font-size: 1.6rem;
	}

	#main-box p {
		font-size: 1rem;
	}

</style>

<div id="main-box">
	<h2>Contact me</h2>
	<p>Name: Pongsapak Pulthasthan <br>
	Tel: 096-748-7757 <br>
	Email: 6231340921@student.chula.ac.th
	</p>
</div>




