<style>
	div h1 {
		background-color: #FFE5B4;
		color: orange;
		text-align: center;
		font-family: Arial;
	}
</style>

<div>
	<h1>Welcome To My World</h1>
</div>
<p>This is my first website on Ruby on Rails LoL</p>